{% extends "base.html" %}
{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'index' %}">Django Boards</a>
    </h1>
    {% block content %}
    {% endblock content %}
  </div>
{% endblock body %}
