{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="A forum dedicated to all things Django" />
    <meta name="keywords" content="django, python3" />
    <title>{% block title %}Django Boards{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>

  <body>
    <!-- As a heading -->
    <nav class="navbar bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="{% url 'index' %}">Django Boards</a>
      </div>
    </nav>
    <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock breadcrumb %}
      </ol>
      {% block content %}
      {% endblock content %}
    </div>
  </body>

</html>