@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

body {
  background: linear-gradient(60deg, #b4eeb4 25%, transparent 25.09%), linear-gradient(120deg, #90be90 33%, transparent 33.09%), linear-gradient(50deg, #7da67d 45%, transparent 45.09%), linear-gradient(-50deg, #b4eeb4 15%, transparent 15.09%), linear-gradient(-45deg, #90be90 33%, transparent 33.09%), linear-gradient(95deg, #b4eeb4 58.5%, transparent 58.59%), linear-gradient(95deg, #b4eeb4 100%, transparent 58.59%);
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  margin-top: -2rem;
}

.container h1 {
  font-family: "Peralta", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}

.container h1 a {
  text-decoration: none;
}

/* Bootstrap card styling to change opacity of the card's background color. Could also change the opacity of a background image. instead of setting a color to the background property, you set an image. */

.card {
  background: transparent;
  position: relative;
}

.card::before {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.form-control.form-control-invalid {
  border: 2px solid red;
}