@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Quicksand:wght@300..700&display=swap');

body {
  background: linear-gradient(60deg, #b4eeb4 25%, transparent 25.09%), linear-gradient(120deg, #90be90 33%, transparent 33.09%), linear-gradient(50deg, #7da67d 45%, transparent 45.09%), linear-gradient(-50deg, #b4eeb4 15%, transparent 15.09%), linear-gradient(-45deg, #90be90 33%, transparent 33.09%), linear-gradient(95deg, #b4eeb4 58.5%, transparent 58.59%), linear-gradient(95deg, #b4eeb4 100%, transparent 58.59%);
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  overflow-x: hidden;
}

/* Home breadcrumb styling */

.navbar .navbar-brand {
  font-family: "Peralta", serif;
}

.container {
  margin-top: -2rem;
}

.container h1 {
  font-family: "Peralta", serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
}

.container h1 a {
  text-decoration: none;
}

/* Bootstrap card styling to change opacity of the card's background color. Could also change the opacity of a background image. instead of setting a color to the background property, you set an image. */

.card {
  background: transparent;
  position: relative;
  padding: 0.125rem 1rem 1rem;
}

.card::before {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.form-control.form-control-invalid {
  border: 2px solid red;
}

/*  navbar custom styling */

.navbar {
  padding-left: 0.5rem;
}

/*  user profile avatar styling */
.django-avatar {
	margin-left: 0.75rem;
	padding-left: 1rem;
}

small {
	padding-left: 1rem;
}

.post-message p {	
	padding-left: 1rem;
}

.user-post-buttons {
	margin-left: 1rem;
	margin-bottom: 1rem;
}

/* django-avatar styling */
img#user_avatar.img-circle.img-responsive {
	border-radius: 50%;
	margin-left: -1rem;
}

.profile-avatar {
	/* margin-left: -0.25rem; */
	width: 80px;
	height: 80px;
	margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

img#user_avatar.img-circle.img-responsive {
	border-radius: 50%;
	margin-left: -2rem;
}

label {
  font-size: 1.125rem;
}

.change-password {
  margin-top: 1rem;
}