@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

.navbar-brand {
  font-family: "Peralta", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
}

.nav-item .dropdown {
  color: #666;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  text-decoration: none;
  font-weight: 300;
}